body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    margin-bottom: 20px;
}

.svg-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1em 0 0;
}

.svg-circle {
    margin: 10px;
}

.svg-collection {
    display: flex;
}

.pdf-frame {
    width: 45vw;
    height: 320mm;
    border: none;
}